<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="wallet">
      <img width="70%" src="https://cdn-icons-png.flaticon.com/512/6322/6322808.png" alt="">
    </ion-tab-button>
    <ion-tab-button tab="history">
      <img width="70%" src="https://cdn-icons-png.flaticon.com/512/6223/6223176.png" alt="">
    </ion-tab-button>
    <ion-tab-button tab="home">
      <img width="80%" src="https://cdn-icons-png.flaticon.com/512/4980/4980301.png" alt="">
    </ion-tab-button>
    <ion-tab-button tab="contract">
      <img width="70%" src="https://cdn-icons-png.flaticon.com/512/6102/6102929.png" alt="">
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img width="70%" src="https://cdn-icons-png.flaticon.com/512/4059/4059614.png" alt="">
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
