<div class="container">
    <div class="row" style="padding-top: 20px;">
        <div class="col-2">
            <button style="background: none;">
                <img width="35px" src="https://cdn-icons-png.flaticon.com/512/1177/1177568.png" alt="">
            </button>
        </div>
        <div class="col-8">
            <div class="mb-3">
                <input style="height: 30px; border-radius: 15px;" type="email" class="form-control"
                    placeholder="Tìm kiếm....">
            </div>
        </div>
        <div class="col-2">
            <button style="background: none;">
                <!-- <i class="bi bi-person-circle" style="font-size: 35px;"></i> -->
                <img src="https://cdn-icons-png.flaticon.com/512/891/891012.png" alt="">
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p style="color: white;"><b>Xin chào!</b> users</p>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col" style="background-color: white; border-radius: 15px; margin-left: 10px;">
            <div class="row" style="padding: 5px;">
                <div class="col-12">
                    <label for="">Tiền đầu tư</label><br>
                    <label for="" style="color: rgb(26, 133, 241);"><b>50,000,000 đ</b></label>
                </div>
            </div>
        </div>
        <div class="col" style="background-color: white; border-radius: 15px; margin-left: 10px; margin-right: 10px;">
            <div class="row" style="padding: 5px;">
                <div class="col-12">
                    <label for="">Tiền ocopshop</label><br>
                    <label for="" style="color: rgb(29, 189, 66)"><b>1,250,000 đ</b></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col" style="background-color: white; margin: 10px; border-radius: 15px;">
            <p style="color: rgb(3, 3, 3); font-size: 12px; padding-top: 10px;"><b style="color: rgb(240, 50, 21);">Cảnh báo!</b> Công ty cổ phần Tập đoàn Chợ Toàn Cầu Thông báo: Cảnh giác với những website và các trang mạng xã hội như FB, Tiktok, youtube... giả mạo thương hiệu.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel"
                style="background-color: white; border-radius: 15px;">
                <div style="padding: 5px; height: 300px;">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img style="height: 150px;  border-radius: 15px 15px 0px 0px;"
                                src="https://chotoancau.vn/uploads/news/2022_09/z3728460266456_d751def7c60fa16ac2011b014171e903.jpg"
                                class="d-block w-100" alt="...">
                            <label for=""><b>Lễ động thổ dự án Khu TMDV Tổng hợp Phường Tân Thành</b></label><br>
                            <p style="font-size: 12px;">Sáng ngày 16/09/2022, Được sự thống nhất của Quận ủy, Ủy ban
                                nhân dân Quận, Ủy ban nhân dân phường Tân Thành và Liên hiệp Hợp tác xã Việt Nam cùng
                                Công ty CP Tập đoàn Chợ toàn cầu GMG tổ chức Lễ Động thổ dự án Khu TMDV Tổng hợp phường
                                Tân Thành.</p>
                        </div>
                        <div class="carousel-item">
                            <img style="height: 150px; border-radius: 15px 15px 0px 0px;"
                                src="https://chotoancau.vn/uploads/news/2022_08/img_5516.jpg" class="d-block w-100"
                                alt="...">
                            <label for=""><b>Hội nghị khách hàng khu vực miền Bắc: Giải pháp hợp tác đầu tư kinh doanh
                                    Bất động sản hiệu quả.</b></label><br>
                            <p style="font-size: 12px;">Sáng ngày 14/08/2022 Công ty CP Tập đoàn Chợ Toàn Cầu đã tổ chức
                                thành công Hội nghị khách hàng khu vực miền Bắc với chủ đề Giải pháp Hợp tác đầu tư kinh
                                doanh Bất động sản hiệu quả</p>
                        </div>
                        <div class="carousel-item">
                            <img style="height: 150px;  border-radius: 15px 15px 0px 0px;"
                                src="https://chotoancau.vn/uploads/news/2022_09/image-20200702112049-1.jpeg"
                                class="d-block w-100" alt="...">
                            <label for="" style="font-size: 14; "><b>Lực hấp dẫn của thị trường nhà ở gần chợ, trung tâm
                                    thương mại</b></label><br>
                            <p style="font-size: 12px;">Trong bối cảnh nguồn cung khan hiếm và thị trường vừa khởi động
                                lại sau dịch bệnh, các dự án nhà ở gần chợ, trung tâm thương mại với ưu điểm sẵn có đã
                                mạnh mẽ hút dòng tiền đầu tư từ thị trường.</p>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    
</div>